:root {
  --brand-1: #1877ff;
  --brand-2: #4a90e2;
  --brand-3: #bad6ff;
}
.ChatApp,
.MessageContainer,
.Navbar,
.Message .Bubble,
.QuickReplies,
.ChatFooter {
  background-repeat: no-repeat;
  background-size: cover;
}
.ChatApp {
  background-color: #b8e986;
}
.Notice {
  background-color: #ffffff;
}
.Navbar {
  background-color: #ffffff;
}
.Message.left .Bubble {
  color: #000000;
}
